$utilities: map-merge($utilities,
    ("font-size": map-merge(map-get($utilities, "font-size"),
        (responsive: true),
      ),
    ));
// end of RWD

/* Custom Fonts */
// font family
.ff-fantasy {
  font-family: 'Shrikhand', cursive;
}

// letter-spacing
.letter-spacing-16{
  letter-spacing: 16px;
}

.letter-spacing-20{
  letter-spacing: 20px;
}

.letter-spacing-48{
  letter-spacing: 48px;
}

.letter-spacing-80{
  letter-spacing: 80px;
}


/* Custom Width */
.mw-1320 {
  max-width: 1320px;
}