/* Custom Bootstrap utilities*/
// font-size
$utilities: map-merge($utilities,
("font-size": map-merge(map-get($utilities, "font-size"),
(responsive: true),
),
));
/* Custom Bootstrap utilities END*/

/* Custom Fonts */
// font family
.ff-fantasy {
  font-family: 'Shrikhand', cursive;
}
/* Custom Fonts END*/

// letter-spacing
.letter-spacing-10 {
  letter-spacing: 10px;
}

.letter-spacing-16 {
  letter-spacing: 16px;
}

.letter-spacing-20 {
  letter-spacing: 20px;
}

.letter-spacing-26 {
  letter-spacing: 26px;
}

.letter-spacing-40 {
  letter-spacing: 40px;
}

.bg-linear-01 {
  background: linear-gradient(180deg, #7000FF 0%, rgba(17, 0, 45, 0.00) 100%);
}


@include media-breakpoint-up(md) {
  .letter-spacing-md-48 {
    letter-spacing: 48px;

  }

  .letter-spacing-md-80 {
    letter-spacing: 80px;
  }
}


/* Custom Width、Height */
.mw-1320 {
  max-width: 1320px;
}

.mw-1296 {
  max-width: 1296px;
}

.mw-1920 {
  max-width: 1920px;
  margin: 0 auto;
  padding: 0 12px;
  @include media-breakpoint-up(xxl) {
    padding: 0 80px;
  }
}

@include media-breakpoint-up(md) {
  .w-md-416 {
    width: 416px;
  }

  .w-md-60{
    width: 60%;
  }
}

.width-100 {
  width: 100%;
}

.height-100 {
  height: 100%;
}

.height-100vh {
  height: 100vh;
}

.height-351px {
  height: 351px;
}

.height-580{
  height: 580px;
}

.height-560{
  height: 560px;
}

/* Custom Width、Height END*/

/* Custom Border */
@include media-breakpoint-up(md) {
  .border-md-end {
    border-right: 1px solid white;
  }
}
/* Custom Border END*/


/* Custom Margin */
@include media-breakpoint-up(md) {
  .mb-md-124{
    margin-bottom: 124px;
  }
}
/* Custom Margin END*/

/* Custom Radial-gradient */
// 漸變色容器
.lineGradient {
  z-index: 100;
  height: 40px;
}

.linearGradient-7000ff-11002d {
  @include gradient-x(#7000ff,#11002d);
}

.linearGradient-11002d-7000ff {
  @include gradient-x(#11002d,#7000ff);
}

// 水平方向的漸層 使用方法 : @include radial-gradient(#28085c, #000000); 
@mixin gradient-x($start-color: $primary, $end-color: $secondary) {
  background-image: linear-gradient(to right, $start-color, $end-color);
}
/* Custom Radial-gradient END*/

/* Custom z-index*/
.z-index-200 {
  z-index: 2; /* 比上方的 div 更高的 Z 軸順序 */
}
/* Custom z-index END*/

/* Custom Hr */
.hr-margin-n80 {
  margin: 0 -80px;
  @include media-breakpoint-down(xxl) {
    margin: 0 -12px;
  }
}

/* Custom Fonts END*/