.at-rotate{
  animation: rotate 5s linear infinite; /* 設定旋轉動畫 */
}
.at-rotateY{
  animation: rotateY 5s linear infinite; /* 設定旋轉動畫 */
}

// 圖片順時鐘旋轉 360度
@keyframes rotate {
  0% {
    transform: rotate(0deg); /* 初始位置 */
  }
  100% {
    transform: rotate(360deg); /* 旋轉 360 度 */
  }
}

// 圖片Y軸旋轉 360度
@keyframes rotateY {
  0% {
    transform: rotateY(0deg); /* 初始位置 */
  }
  100% {
    transform: rotateY(360deg); /* 旋轉 360 度 */
  }
}