<div class="alphaboxPlus position-relative pb-52">
  <div class="img-alphaboxPlus position-absolute " style="background: url('/assets/images/design-desktop-carousel-background.png') center center /cover no-repeat;"></div>
  <div class="mw-1920">
    <div class="alphaboxPlus-textContent position-relative pt-192 mb-20 mb-md-16">
      <div class="alphaboxPlus-text-why d-flex justify-content-between">
        <p class="fs-24 fw-bold ">什</p>
        <p class="fs-24 fw-bold ">麼</p>
        <p class="fs-24 fw-bold ">是</p>
      </div>
      <div class="alphaboxPlus-text-container d-flex justify-content-between flex-wrap ">
        <p class="fs-24 fw-bold ">A</p>
        <p class="fs-24 fw-bold ">L</p>
        <p class="fs-24 fw-bold ">P</p>
        <p class="fs-24 fw-bold ">H</p>
        <p class="fs-24 fw-bold ">A</p>
        <p class="fs-24 fw-bold ">B</p>
        <p class="fs-24 fw-bold ">O</p>
        <p class="fs-24 fw-bold ">X</p>
        <p class="fs-24 fw-bold ">+</p>
      </div>
    </div>
    <hr class="hr-margin-n80">
    <div class="alphaboxPlus-carousel d-flex justify-content-between mt-16 mt-md-32">
      <a target="_self" href="#" class="alphaboxPlus-carousel-a d-lg-flex align-content-center d-none me-52">
        <img src="/assets/images/design-desktop-line-start-arrow-notch.svg" alt="line-start-arrow">
      </a>
      <!-- <div class="alphaboxPlus-carousel-bg height-560" style="background:url(/assets/images/design-desktop-carousel-background.png) no-repeat center center / cover"></div> -->
      <div class="alphaboxPlus-carousel-bg d-flex flex-column justify-content-end  align-items-md-end justify-content-md-center p-16 p-md-40">
        <h3 class="fs-64 ff-fantasy">01</h3>
        <h4 class="fs-24 mb-8 mb-md-32 fw-bold ">立　體　投　影　技　術</h4>
        <p class="fs-16 fw-bold">透過高科技立體投影技術，讓您感受真實的科技世界。</p>
      </div>
      <a href="#" class="alphaboxPlus-carousel-a d-lg-flex align-content-center d-none ms-52">
        <img src="/assets/images/design-desktop-line-end-arrow-notch.svg" alt="line-end-arrow">
      </a>
    </div>
    <div class="lineGradient width-100 linearGradient-11002d-7000ff mt-32"></div>
  </div>
</div>
