<div class="pt-28 pt-md-56" style="background: url('/assets/images/home_background.png') no-repeat center center /cover;height: 960px;width: 100%;">
<div class="container-fluid">
  <div class="banner-top d-flex flex-column-reverse flex-md-row  justify-content-md-between">
    <p class="fs-16 fw-bold d-md-flex flex-column justify-content-md-end d-none d-md-block border-1-bottom-8">最新消息！新版本 v15.4 釋出，搶先體驗！</p>
    <img class="m-auto img-196" src="/assets/images/circle.png" alt="circle">
    <div class="banner-top-content d-md-flex flex-md-column justify-content-between">
      <h2 class="fs-16 fw-bold mb-32 mb-md-0 border-1-top-4">ALPHABOX+ STUDIO</h2>
      <p class="fs-16 fw-medium text-brand-09 d-none d-md-block" >Copyright © 2023 Hexschool.</p>
    </div>
  </div>
  <div class="banner-content">
    <!-- <picture>
      <source media="(min-width: 650px)" srcset="/assets/images/box.png" />
      <source media="(min-width: 465px)" srcset="/assets/images/box.png" />
      <img src="/assets/images/box.png" alt="Sample" />
    </picture> -->
  </div>
</div>
</div>