<div class="banner-backgroundStyle pt-28 pt-md-56 border-top border-1" style="background: url('/assets/images/home_background.png') no-repeat center center /cover;">
<!-- <div class="pt-28 pt-md-56" style="background: url('/assets/images/home_background.png') no-repeat center center /cover;height: 100%;width: 100%;"> -->
  <div class="mw-1920">
    <div class="banner-top d-flex flex-column-reverse flex-md-row  justify-content-md-between mb-56">
      <p class="fs-16 fw-bold d-md-flex flex-column justify-content-md-end d-none d-md-block border-1-bottom-8">最新消息！新版本 v15.4 釋出，搶先體驗！</p>
      <img class="m-auto banner-img-circle self-rotate-5s" src="/assets/images/circle.png" alt="circle">
      <!-- <img class="m-auto img-196" src="/assets/images/circle.png" alt="circle"> -->
      <div class="banner-top-content d-md-flex flex-md-column justify-content-between">
        <h2 class="fs-16 fw-bold mb-32 mb-md-0 border-1-top-4">ALPHABOX+ STUDIO</h2>
        <p class="fs-16 fw-medium text-brand-09 d-none d-md-block" >Copyright © 2023 Hexschool.</p>
      </div>
    </div>
      <div class="row position-relative z-index-200">
        <!-- diane -->
        <div class="col-3 d-none d-md-flex max-height-676">
          <div class="img-hover width-100 position-relative" style="background: url('/assets/images/diane.png') center center /cover;">
            <p class="fs-32 ff-fantasy position-absolute top-0 start-50 translate-middle-x pt-16">Diane</p>
          </div>
        </div>
        <div class="col-md-6 max-height-676">
          <div class="text-center mb-24">
            <div class="d-flex justify-content-between ff-fantasy fs-32">
              <p>A</p>
              <p>L</p>
              <p>P</p>
              <p>H</p>
              <p>A</p>
              <p>B</p>
              <p>O</p>
              <p>X</p>
              <p>+</p>
            </div>
            <p class="fs-16 fw">擁抱未來科技，專屬您的3D立體投影陪伴機器人</p>
          </div>
          <div class="row d-none d-md-flex justify-content-between">
            <!-- felix -->
            <div class="col-6">
              <div class="img-hover width-100 height-580 position-relative" style="background: url('/assets/images/felix.png') center center /cover;">
                <p class="fs-32 ff-fantasy position-absolute top-0 start-50 translate-middle-x pt-16">Felix</p>
              </div>
            </div>
            <!-- karina -->
            <div class="col-6">
              <div class="col-6 img-hover width-100 height-580 position-relative" style="background: url('/assets/images/karina.png') center center /cover;">
                <p class="fs-32 ff-fantasy position-absolute top-0 start-50 translate-middle-x pt-16">Karina</p>
              </div>
            </div>
          </div>
        </div>
        <!-- vito -->
        <div class="col-3 d-none d-md-flex max-height-676">
          <div class="img-hover width-100 position-relative" style="background: url('/assets/images/vito.png') center center /cover;">
            <p class="fs-32 ff-fantasy position-absolute top-0 start-50 translate-middle-x pt-16">Vito</p>
          </div>
        </div>
        <!-- mobile -->
        <div class="d-md-none">
          <div class="img-hover width-100 height-351px position-relative mb-16" style="background: url('/assets/images/diane_vertical.png') no-repeat center top /cover;">
            <p class="fs-32 ff-fantasy position-absolute top-0 start-50 translate-middle-x pt-16">Diane</p>
          </div>
          <div class="img-hover width-100 height-351px position-relative mb-16" style="background: url('/assets/images/felix.png') no-repeat center top /cover;">
            <p class="fs-32 ff-fantasy position-absolute top-0 start-50 translate-middle-x pt-16">Felix</p>
          </div>
          <div class="img-hover width-100 height-351px position-relative mb-16" style="background: url('/assets/images/karina.png') no-repeat center top /cover;">
            <p class="fs-32 ff-fantasy position-absolute top-0 start-50 translate-middle-x pt-16">Karina</p>
          </div>
          <div class="img-hover width-100 height-351px position-relative" style="background: url('/assets/images/vito_vertical.png') no-repeat center top /cover;">
            <p class="fs-32 ff-fantasy position-absolute top-0 start-50 translate-middle-x pt-16">Vito</p>
          </div>
        </div>
        <div class="lineGradient width-100 linearGradient-7000ff-11002d mt-32"></div>
      </div>
  </div>
</div>  