<div class="container py-144">
    <div class="row flex-lg-row flex-column ">
        <div class="col-lg-5 col-12">
            <!-- contact title -->
            <h2 class="pb-md-20 pb-12 letter-spacing-md-48 letter-spacing-40 fs-md-48 fs-40 fw-bold">
                聯絡我們</h2>
            <!-- dividing line -->
            <div class="d-flex mb-md-54 mb-36">
                <div class="me-8 rounded-circle bg-white" style="width: 12px;height: 12px;"></div>
                <div class="rounded-pill bg-white" style="width: 124px;height: 12px;"></div>
            </div>
            <!-- contact info -->
            <div class="mb-md-0 mb-24">
                <p class="mb-4">讓科技成為您的最佳夥伴</p>
                <p>立即體驗神奇功能並享限時優惠！</p>
            </div>
        </div>
        <div class="col-lg-7 col-12">
            <span class="d-block mb-16 fs-80 material-icons">
                emergency
            </span>
            <input type="email" name="email" class="w-100 mb-16 py-8 px-16 bg-white fw-bold placeholder-brand-05" placeholder="EMAIL" aria-label="Useremail"
                aria-describedby="basic-addon1">
            <textarea class="w-100 mb-16 py-8 px-16 bg-white text-brand-05 fw-bold placeholder-brand-05" name="comment" style="height: 120px;" placeholder="COMMENTS"></textarea>
            <a href="#" class="d-flex justify-content-center align-items-center ms-auto w-lg-60 w-100 gap-4 py-8 bg-brand-03 fw-medium "><svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" viewBox="0 0 18 18" fill="none">
                <path d="M9 11C8.45 11 7.97917 10.8042 7.5875 10.4125C7.19583 10.0208 7 9.55 7 9C7 8.45 7.19583 7.97917 7.5875 7.5875C7.97917 7.19583 8.45 7 9 7C9.55 7 10.0208 7.19583 10.4125 7.5875C10.8042 7.97917 11 8.45 11 9C11 9.55 10.8042 10.0208 10.4125 10.4125C10.0208 10.8042 9.55 11 9 11ZM8 5V0H10V5H8ZM8 18V13H10V18H8ZM13 10V8H18V10H13ZM0 10V8H5V10H0Z" fill="white"/>
              </svg>送出</a>

        </div>
    </div>
</div>