<div class="container mw-1320 py-md-144 pt-60 pb-80">
    <div class="row flex-md-row flex-column ">
        <div class="col-md-5 col-12 pe-md-0 pe-12 ">
            <!-- contact title -->
            <h2 class="pb-md-20 pb-12 letter-spacing-md-48 letter-spacing-40 fs-md-48 fs-40 fw-bold">
                聯絡<span class="d-lg-inline d-md-block d-inline">我們</span></h2>
            <!-- dividing line -->
            <div class="d-flex mb-md-54 mb-36">
                <div class="me-8 rounded-circle bg-white" style="width: 12px;height: 12px;"></div>
                <div class="rounded-pill bg-white" style="width: 124px;height: 12px;"></div>
            </div>
            <!-- contact info -->
            <div class="mb-md-0 mb-24">
                <p class="mb-4">讓科技成為您的最佳夥伴</p>
                <p>立即體驗神奇功能並享限時優惠！</p>
            </div>
        </div>
        <div class="col-md-7 col-12 ps-md-0 ps-12">
            <span class="d-block mb-16 fs-80 material-symbols-outlined">
                emergency
            </span>
            <input type="email" name="email" class="w-100 mb-16 py-8 px-16 bg-white fw-bold placeholder-brand-05" placeholder="EMAIL" aria-label="Useremail"
                aria-describedby="basic-addon1">
            <textarea class="w-100 mb-16 py-8 px-16 bg-white text-brand-05 fw-bold placeholder-brand-05" name="comment" style="height: 120px;" placeholder="COMMENTS"></textarea>
            <button type="submit" class="d-flex justify-content-center align-items-center ms-auto w-md-60 w-100 gap-4 py-8 bg-brand-03 fw-medium btn btn-brand-04"><span class="material-symbols-outlined">
                point_scan
                </span>送出</button>
        </div>
    </div>
</div>