<div style="background: radial-gradient(50% 50.00% at 50% 50.00%, #000 0%, #28085C 100%);">
    <div class="container mw-1320 pt-mb-160 pt-60">
        <!-- feedback title -->
        <div class="row f-md-flex f-column gap-md-0 gap-24 mb-md-40 mb-24">
            <div class="col-md-5 col-12">
                <h2 class="pb-16 letter-spacing-md-48 letter-spacing-40 fs-md-48 fs-40 fw-bold">使用<span
                        class="d-lg-inline d-md-block d-inline">分享</span></h2>
                <div class="d-flex align-items-center fw-bold">
                    <span>01</span>
                    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
                        <mask id="mask0_281_5207" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0"
                            width="24" height="24">
                            <rect width="24" height="24" fill="#D9D9D9" />
                        </mask>
                        <g mask="url(#mask0_281_5207)">
                            <path d="M4 13V11H20V13H4Z" fill="white" />
                        </g>
                    </svg>
                    <span>04</span>
                </div>
            </div>
            <div class="col-md-7 col-12 fw-bold">展示其他使用者對於產品的真實體驗與評價，讓您更加放心選擇。</div>
        </div>
        <span class="d-block mb-16 fs-80 material-symbols-outlined">
            emergency
        </span>        
    </div>
    <!-- feedback contant -->
    <div class="mb-md-124 mb-0">
        <ul class="d-flex gap-24 ms-312 m-0 overflow-x-scroll list-unstyled ">
            <li class="flex-shrink-0 ratio ratio-1x1 w-md-416 w-100 bg-brand-04 ">
                <div class="d-flex flex-column position-absolute p-40">
                    <div class="d-flex align-items-center  gap-8 mb-32">
                        <span>Zona</span>
                        <div class="rounded-circle bg-white" style="width: 8px;height: 8px;"></div>
                        <span>Taipei</span>
                    </div>
                    <p class=" flex-grow-1">
                        ALPHABOX+ 真的很夯！每次把它打開，感覺就像是身臨其境一樣。它陪我度過了很多寂寞的時光，讓我在家裡也能享受到優質的休閒時光。
                    </p>
                    <div class="d-flex align-items-center  gap-16">
                        <div class="rounded-circle bg-white" style="width: 16px;height: 16px;"></div>
                        <div class="rounded-circle bg-white" style="width: 16px;height: 16px;"></div>
                        <span>ALPHABOX+ Dianne</span>
                    </div>
                </div>
            </li>
            <li class="flex-shrink-0 ratio ratio-1x1 w-md-416 w-100 bg-brand-04">
                <div class="d-flex flex-column position-absolute p-40">
                    <div class="d-flex align-items-center  gap-8 mb-32">
                        <span>Zona</span>
                        <div class="rounded-circle bg-white" style="width: 8px;height: 8px;"></div>
                        <span>Taipei</span>
                    </div>
                    <p class=" flex-grow-1">
                        ALPHABOX+ 真的很夯！每次把它打開，感覺就像是身臨其境一樣。它陪我度過了很多寂寞的時光，讓我在家裡也能享受到優質的休閒時光。
                    </p>
                    <div class="d-flex align-items-center  gap-16">
                        <div class="rounded-circle bg-white" style="width: 16px;height: 16px;"></div>
                        <div class="rounded-circle bg-white" style="width: 16px;height: 16px;"></div>
                        <span>ALPHABOX+ Dianne</span>
                    </div>
                </div>
            </li>
            <li class="flex-shrink-0 ratio ratio-1x1 w-md-416 w-100 bg-brand-04">
                <div class="d-flex flex-column position-absolute p-40">
                    <div class="d-flex align-items-center  gap-8 mb-32">
                        <span>Zona</span>
                        <div class="rounded-circle bg-white" style="width: 8px;height: 8px;"></div>
                        <span>Taipei</span>
                    </div>
                    <p class=" flex-grow-1">
                        ALPHABOX+ 真的很夯！每次把它打開，感覺就像是身臨其境一樣。它陪我度過了很多寂寞的時光，讓我在家裡也能享受到優質的休閒時光。
                    </p>
                    <div class="d-flex align-items-center  gap-16">
                        <div class="rounded-circle bg-white" style="width: 16px;height: 16px;"></div>
                        <div class="rounded-circle bg-white" style="width: 16px;height: 16px;"></div>
                        <span>ALPHABOX+ Dianne</span>
                    </div>
                </div>
            </li>
            <li class="flex-shrink-0 ratio ratio-1x1 w-md-416 w-100 bg-brand-04">
                <div class="d-flex flex-column position-absolute p-40">
                    <div class="d-flex align-items-center  gap-8 mb-32">
                        <span>Zona</span>
                        <div class="rounded-circle bg-white" style="width: 8px;height: 8px;"></div>
                        <span>Taipei</span>
                    </div>
                    <p class=" flex-grow-1">
                        ALPHABOX+ 真的很夯！每次把它打開，感覺就像是身臨其境一樣。它陪我度過了很多寂寞的時光，讓我在家裡也能享受到優質的休閒時光。
                    </p>
                    <div class="d-flex align-items-center  gap-16">
                        <div class="rounded-circle bg-white" style="width: 16px;height: 16px;"></div>
                        <div class="rounded-circle bg-white" style="width: 16px;height: 16px;"></div>
                        <span>ALPHABOX+ Dianne</span>
                    </div>
                </div>
            </li>
        </ul>       
    </div>
    <!-- feedback slogan -->
    <p class="d-md-block d-none container mw-1320 pb-mb-40 pb-80 fw-bold">若您有任何疑問或建議，歡迎隨時與我們聯絡，我們將竭誠為您解答。</p>
</div>