<footer class="footer text-black bg-white">
  <div
    class="container position-relative p-40 px-md-0 py-md-52 d-flex flex-column flex-md-row gap-8 gap-md-0 justify-content-between align-items-md-center">

    <div>
      <!-- TODO: a link -->
      <p class="fs-32 ff-fantasy">
        ALPHABOX+
      </p>
      <small class="d-none d-md-block fw-bold">
        Copyright &copy; 2023 Hexschool.
      </small>
    </div>

    <svg xmlns="http://www.w3.org/2000/svg"
      class="d-none d-md-block position-absolute top-50 start-50 translate-middle"
      width="80" height="80" viewBox="0 0 80 80" fill="none">
      <mask id="mask0_437_2236" style="mask-type:alpha"
        maskUnits="userSpaceOnUse" x="0" y="0" width="80" height="80">
        <rect width="80" height="80" fill="#D9D9D9" />
      </mask>
      <g mask="url(#mask0_437_2236)">
        <path
          d="M34.1666 70V50.1667L17 60.0833L11.1666 50L28.3333 40L11.1666 30.0833L17 20L34.1666 29.9167V10H45.8333V29.9167L63 20L68.8333 30.0833L51.6666 40L68.8333 50L63 60.0833L45.8333 50.1667V70H34.1666Z"
          fill="black" />
      </g>
    </svg>

    <!-- #QQ: mobile has border? -->
    <img src="../assets/images/emergency.svg" alt="icon" class="d-md-none"
      width="80px" height="80px">

    <nav
      class="d-flex flex-column flex-md-row gap-8 gap-md-24 list-unstyled fw-bold">
      <li class="nav-item">
        <a class="nav-link" href="#">關於我們</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">產品資訊</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">常見問題</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">隱私政策</a>
      </li>
    </nav>
  </div>
</footer>