<ol class="container-fluid overflow-hidden d-flex flex-wrap list-unstyled my-0">

  <li class="card-gallery">
    <a href="#"
      class="py-24 px-12 pt-md-24 pb-md-56 px-md-40 d-flex flex-column bg-cover-start"
      style="background-image: url(../assets/images/diane_vertical.png);">
      <hgroup class="flex-grow-1 mb-md-80 text-center">
        <p
          class="mx-auto mb-16 mb-md-20 ff-Saira fs-128 fs-md-400 letter-spacing-320 letter-spacing-md-1000">
          1
        </p>
        <h2 class="ff-fantasy fs-24 fs-md-32">Diane</h2>
      </hgroup>

      <div class="d-flex flex-column flex-md-row align-items-center gap-md-40">
        <hgroup class="text-left">
          <h3 class="fs-16">知識型</h3>
          <p>學術領導/知識分享/智能問答</p>
        </hgroup>

        <svg xmlns="http://www.w3.org/2000/svg" width="155" height="24"
          viewBox="0 0 155 24" fill="none">
          <mask id="mask0_3218_6" style="mask-type:alpha"
            maskUnits="userSpaceOnUse" x="0" y="0" width="155" height="24">
            <rect width="155" height="24" fill="#D9D9D9" />
          </mask>
          <g mask="url(#mask0_3218_6)">
            <path d="M142 19L145.425 13H2V11H145.425L142 5L153 12L142 19Z"
              fill="white" />
          </g>
        </svg>
      </div>
    </a>
  </li>

  <li class="card-gallery">
    <a href="#"
      class="py-24 px-12 pt-md-24 pb-md-56 px-md-40 d-flex flex-column bg-cover-start"
      style="background-image: url(../assets/images/felix_vertical.png);">
      <hgroup class="flex-grow-1 mb-md-80 text-center">
        <p
          class="mx-auto mb-16 mb-md-20 ff-Saira fs-128 fs-md-400 letter-spacing-320 letter-spacing-md-1000">
          2
        </p>
        <h2 class="ff-fantasy fs-24 fs-md-32">Felix</h2>
      </hgroup>

      <div class="d-flex flex-column flex-md-row align-items-center gap-md-40">
        <hgroup class="text-left">
          <h3 class="fs-16">娛樂型</h3>
          <p>音樂播放/語音互動/遊戲陪伴</p>
        </hgroup>

        <svg xmlns="http://www.w3.org/2000/svg" width="155" height="24"
          viewBox="0 0 155 24" fill="none">
          <mask id="mask0_3218_6" style="mask-type:alpha"
            maskUnits="userSpaceOnUse" x="0" y="0" width="155" height="24">
            <rect width="155" height="24" fill="#D9D9D9" />
          </mask>
          <g mask="url(#mask0_3218_6)">
            <path d="M142 19L145.425 13H2V11H145.425L142 5L153 12L142 19Z"
              fill="white" />
          </g>
        </svg>
      </div>
    </a>
  </li>

  <li class="card-gallery">
    <a href="#"
      class="py-24 px-12 pt-md-24 pb-md-56 px-md-40 d-flex flex-column bg-cover-start"
      style="background-image: url(../assets/images/karina_vertical.png);">
      <hgroup class="flex-grow-1 mb-md-80 text-center">
        <p
          class="mx-auto mb-16 mb-md-20 ff-Saira fs-128 fs-md-400 letter-spacing-320 letter-spacing-md-1000">
          3
        </p>
        <h2 class="ff-fantasy fs-24 fs-md-32">Karina</h2>
      </hgroup>

      <div class="d-flex flex-column flex-md-row align-items-center gap-md-40">
        <hgroup class="text-left">
          <h3 class="fs-16">生活型</h3>
          <p>健康提醒/日程安排/智能家居</p>
        </hgroup>

        <svg xmlns="http://www.w3.org/2000/svg" width="155" height="24"
          viewBox="0 0 155 24" fill="none">
          <mask id="mask0_3218_6" style="mask-type:alpha"
            maskUnits="userSpaceOnUse" x="0" y="0" width="155" height="24">
            <rect width="155" height="24" fill="#D9D9D9" />
          </mask>
          <g mask="url(#mask0_3218_6)">
            <path d="M142 19L145.425 13H2V11H145.425L142 5L153 12L142 19Z"
              fill="white" />
          </g>
        </svg>
      </div>
    </a>
  </li>

  <li class="card-gallery">
    <a href="#"
      class="py-24 px-12 pt-md-24 pb-md-56 px-md-40 d-flex flex-column bg-cover-start"
      style="background-image: url(../assets/images/vito_mobile.png);">
      <hgroup class="flex-grow-1 mb-md-80 text-center">
        <p
          class="mx-auto mb-16 mb-md-20 ff-Saira fs-128 fs-md-400 letter-spacing-320 letter-spacing-md-1000">
          4
        </p>
        <h2 class="ff-fantasy fs-24 fs-md-32">Vito</h2>
      </hgroup>

      <div class="d-flex flex-column flex-md-row align-items-center gap-md-40">
        <hgroup class="text-left">
          <h3 class="fs-16">情感型</h3>
          <p>情感識別/心情分析/心靈支持</p>
        </hgroup>

        <svg xmlns="http://www.w3.org/2000/svg" width="155" height="24"
          viewBox="0 0 155 24" fill="none">
          <mask id="mask0_3218_6" style="mask-type:alpha"
            maskUnits="userSpaceOnUse" x="0" y="0" width="155" height="24">
            <rect width="155" height="24" fill="#D9D9D9" />
          </mask>
          <g mask="url(#mask0_3218_6)">
            <path d="M142 19L145.425 13H2V11H145.425L142 5L153 12L142 19Z"
              fill="white" />
          </g>
        </svg>
      </div>
    </a>
  </li>

</ol>