<header class="header bg-brand-01">
  <nav class="navbar navbar-expand-lg container py-0" data-bs-theme="dark">
    <!-- QQ -->
    <div
      class="container-fluid d-flex align-items-center justify-content-between">
      <h1 class="h1 d-inline-block py-16 ff-fantasy fs-24 fs-md-32">
        <a class="navbar-brand ff-fantasy fs-24 fs-md-32" href="#">ALPHABOX+</a>
      </h1>

      <button class="navbar-toggler border-0" type="button"
        data-bs-toggle="collapse" data-bs-target="#navbarScroll"
        aria-controls="navbarScroll" aria-expanded="false"
        aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarScroll">
        <ul
          class="navbar-nav navbar-nav-scroll d-md-flex justify-content-between align-items-center"
          style="--bs-scroll-height: 768px;">
          <span
            class="d-flex flex-column flex-md-row justify-content-between align-items-center gap-4 gap-md-40">
            <li class="nav-item">
              <a class="nav-link py-8 text-white" href="#">產品</a>
            </li>
            <li class="nav-item">
              <a class="nav-link py-8 text-white" href="#">關於我們</a>
            </li>
            <li class="nav-item">
              <a class="nav-link py-8 text-white" href="#">最新消息</a>
            </li>
            <li class="nav-item">
              <a class="nav-link py-8 text-white" href="#">FAQ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link py-8 text-white" href="contact.html">聯絡我們</a>
            </li>
          </span>

          <span
            class="d-flex flex-column flex-md-row gap-4 justify-content-between align-items-center gap-md-24">
            <li class="nav-item">
              <a class="nav-link py-8 text-white" href="./signup.html">註冊</a>
            </li>
            <li class="nav-item">
              <a class="nav-link py-8 text-white" href="#">登入</a>
            </li>
            <li class="nav-item">
              <button type="button"
                class="btn btn-light d-inline-flex gap-4 rounded"
                style="--bs-btn-padding-y: 8px; --bs-btn-padding-x: 16px; --bs-btn-font-size: 16px;">
                <span class="material-symbols-outlined">
                  point_scan
                </span>
                訂閱
              </button>
            </li>
          </span>
        </ul>
      </div>
    </div>
  </nav>
</header>