<div>
    <div class="container mw-1320 pt-160 pb-40">
        <h2 class="pb-40 border-bottom border-white letter-spacing-48 fw-bold ">最新消息</h2>
        <ul class="row list-unstyled ">
            <li class="col-12 py-40 border-bottom border-white ">
                <a href="#">
                    <div class="d-flex gap-16 mb-8">
                        <span class="material-icons">
                            emergency
                            </span>
                        <time class="letter-spacing-16">2023.06.30</time>
                    </div>
                    <h3 class="mb-12 fs-20 fw-bold letter-spacing-20">產品升級公告</h3>
                    <div class="row">
                        <p class="col-9 fw-bold">榮幸地宣布，ALPHABOX+ 已成功完成最新一代的升級！本次升級包括提升投影解析度、優化語音辨識技術，以及擴充情感識別功能。<span class="d-md-block d-inline">
                            歡迎您了解本次升級帶來的更為卓越的性能！
                        </span></p>
                        <div class="col-3 text-end">
                            <svg class="arrow-hover" xmlns="http://www.w3.org/2000/svg" width="196" height="24" viewBox="0 0 196 24" fill="none">
                                <mask id="mask0_237_5007" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="196" height="24">
                                  <rect width="196" height="24" fill="#D9D9D9"/>
                                </mask>
                                <g mask="url(#mask0_237_5007)">
                                  <path d="M183 19L186.425 13H2V11H186.425L183 5L194 12L183 19Z" fill="white"/>
                                </g>
                              </svg>
                        </div>
                    </div>
                </a>
            </li>
            <li class="col-6 py-40 border-bottom border-white ">
                <a href="#">
                    <div class="d-flex gap-16 mb-8">
                        <span class="material-icons">
                            emergency
                            </span>
                        <time class="letter-spacing-16">2023.06.30</time>
                    </div>
                    <h3 class="mb-12 fs-20 fw-bold letter-spacing-20">產品升級公告</h3>
                    <div class="row">
                        <p class="col-9 fw-bold">榮幸地宣布，ALPHABOX+ 已成功完成最新一代的升級！本次升級包括提升投影解析度、優化語音辨識技術，以及擴充情感識別功能。<span class="d-md-block d-inline">
                            歡迎您了解本次升級帶來的更為卓越的性能！
                        </span></p>
                        <div class="col-3 text-end">
                            <svg xmlns="http://www.w3.org/2000/svg" width="196" height="24" viewBox="0 0 196 24" fill="none">
                                <mask id="mask0_237_5007" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="196" height="24">
                                  <rect width="196" height="24" fill="#D9D9D9"/>
                                </mask>
                                <g mask="url(#mask0_237_5007)">
                                  <path d="M183 19L186.425 13H2V11H186.425L183 5L194 12L183 19Z" fill="white"/>
                                </g>
                              </svg>
                        </div>
                    </div>
                </a>
            </li>
            <li class="col-6 py-40 border-bottom border-white ">
                <a href="#">
                    <div class="d-flex gap-16 mb-8">
                        <span class="material-icons">
                            emergency
                            </span>
                        <time class="letter-spacing-16">2023.06.30</time>
                    </div>
                    <h3 class="mb-12 fs-20 fw-bold letter-spacing-20">產品升級公告</h3>
                    <div class="row">
                        <p class="col-9 fw-bold">榮幸地宣布，ALPHABOX+ 已成功完成最新一代的升級！本次升級包括提升投影解析度、優化語音辨識技術，以及擴充情感識別功能。<span class="d-md-block d-inline">
                            歡迎您了解本次升級帶來的更為卓越的性能！
                        </span></p>
                        <div class="col-3 text-end">
                            <svg xmlns="http://www.w3.org/2000/svg" width="196" height="24" viewBox="0 0 196 24" fill="none">
                                <mask id="mask0_237_5007" style="mask-type:alpha" maskUnits="userSpaceOnUse" x="0" y="0" width="196" height="24">
                                  <rect width="196" height="24" fill="#D9D9D9"/>
                                </mask>
                                <g mask="url(#mask0_237_5007)">
                                  <path d="M183 19L186.425 13H2V11H186.425L183 5L194 12L183 19Z" fill="white"/>
                                </g>
                              </svg>
                        </div>
                    </div>
                </a>
            </li>
        </ul>
        

    </div>
</div>