/* BOOTSTRAP */
@import "../../node_modules/bootstrap/scss/functions";
@import "./utils/_variables.scss";
@import "../../node_modules/bootstrap";

// BOOTSTRAP utilities apiï¼Œfor font-size RWD
@import "../../node_modules/bootstrap/scss/utilities/api";

// CUSTOM Utility
@import "./base/_utility.scss";

// CUSTOM Base
@import './base/base.scss';

// Custom Components
@import './components/img.scss';
@import './components/border.scss';
@import './components/arrow-hover.scss';
@import './components/input-decorate.scss';
@import './components/card.scss';

// CUSTOM  Layout
@import './layout/banner.scss';
@import './layout/header.scss';
@import './layout/footer.scss';

// CUSTOM  Utils
@import './utils/animation.scss';

// CUSTOM  Pages
@import './pages/index.scss';