.card {
  &-gallery {
    width: 50%;

    @include media-breakpoint-up(lg) {
      width: 25%;
    }

    // #NOTE: make number center
    & hgroup>span {
      width: 80px;
    }

    // #NOTE: have to change file, so remove inline bg-image
    &:nth-child(4)>a {
      background-image: url(../assets/images/vito_mobile.png);

      @include media-breakpoint-up(lg) {
        background-image: url(../assets/images/vito_vertical.png);
      }
    }

    &:nth-child(2n+1),
    &:nth-child(2) {
      @include media-breakpoint-up(lg) {
        border-right: 1px solid $white;
      }
    }

    >a {
      height: 60vh;

      @include media-breakpoint-up(lg) {
        height: auto;
      }

      background-color: $black;
      background-blend-mode: darken;
      transition: background-color .9s;

      &:hover {
        background-color: rgb(0, 0, 0, 0.4);
      }
    }
  }
}