.link-hover {
  &-effect {
    /* for underline */
    position: relative;
    display: inline-block;

    &::before,
    &::after {
      /* pseudo-element */
      content: "";
      position: absolute;
      transition: transform 0.5s ease;
    }
  }

  &-underline {

    /* underline style */
    &::before {
      left: 0;
      bottom: 0;
      width: 100%;
      /* underline's height */
      height: 1.5px;

      background-color: $white;
      /* hidden */
      transform: scaleX(0);
    }

    &:hover::before {
      /* show */
      transform: scaleX(1);
    }
  }
}