.feedback-content:before {
    content: "";
    display: none;
    height: 488px;

    @include media-breakpoint-up(lg) {
        display: block;
    }

    // 參考 Eric：https://wc-su.github.io/hexschool-2023-CSS-task8/
}

/* Hide scrollbar-x*/
.scrollbar-x-hide {
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    /* Firefox */

    &::-webkit-scrollbar {
        display: none;
        /* Chrome, Safari and Opera */
    }
}


/*本來要客製化 customer feedback 的語法，後因無法更改 scrollbar 顯示寬度，所以取消*/
/*
@include media-breakpoint-up(sm) {
    .overflow-x-sm-scroll{
        overflow-x:scroll;
    }
  }

.feedback-scrollbar {
    &::-webkit-scrollbar {
        height: 4px; //滾動條寬度
    }

    &::-webkit-scrollbar-thumb {
        background-color: $white; //滾動條滑塊顏色
        border-radius: 3px;
        -moz-border-radius: 3px; //Firefox 兼容
        -webkit-border-radius: 3px; //Chrome、Safari 兼容
    }

    &::-webkit-scrollbar-track {
        background: rgba(255, 255, 255, 0.20); //滾動條軌道背景顏色
    }
}
*/