<!DOCTYPE html>
<html lang="zh-TW">

<%- include('./layout/head'); -%>

  <body>
    <%- include('./layout/header'); -%>

      <%- include('./layout/banner'); -%>
      <%- include('./layout/alphabox-plus'); -%>

        <%- include('./layout/news'); -%>
          <%- include('./layout/customer-feedback'); -%>
            <%- include('./layout/contact'); -%>

              <%- include('./layout/footer'); -%>
                <!-- Main JS -->
                <script type="module" src="../main.js"></script>                
  </body>

</html>