<!DOCTYPE html>
<html lang="zh-TW">

<%- include('./layout/head'); -%>

  <body>
    <%- include('./layout/header'); -%>

      <main class="main container pt-60 text-white bg-linear-02">
        <h2 class="d-block d-md-none fs-40 fw-bold letter-spacing-40">
          註冊
        </h2>
        <h2 class="position-absolute pt-100 fs-40 fw-bold letter-spacing-40">
          註冊
        </h2>

        <div class="row">
          <div class="col-12 col-md-4 mx-auto">

            <div class="mb-24 text-center">
              <img loading="lazy" class="mb-24 img-196 self-rotate-5s"
                src="../assets/images/circle.png" alt="circle">

              <h3 class="mb-32 fs-32 ff-fantasy">ALPHABOX+</h3>

              <button type="button"
                class="btn btn-outline-light mb-16 w-100 d-inline-flex align-items-center justify-content-center gap-10 rounded-24">
                <img loading="lazy" class="img-20"
                  src="../assets/images/apple.webp" alt="circle">
                Continue with Apple
              </button>

              <button type="button"
                class="btn btn-outline-light mb-24 w-100 d-inline-flex align-items-center justify-content-center gap-10 rounded-24">
                <img loading="lazy" class="img-20"
                  src="../assets/images/google.webp" alt="circle">
                Continue with Google
              </button>

              <p>or</p>
            </div>

            <form class="mb-80">
              <div class="mb-8">
                <input type="text" name="userName"
                  class="form-control w-100 py-8 px-16 bg-white fw-bold placeholder-brand-05"
                  placeholder="姓名" aria-label="input-userName"
                  aria-describedby="basic-addon1">
              </div>

              <div class="mb-8">
                <input type="email" name="userEmail"
                  class="form-control w-100 py-8 px-16 bg-white fw-bold placeholder-brand-05"
                  placeholder="EMAIL" aria-label="input-userEmail"
                  aria-describedby="basic-addon1">
              </div>

              <div class="mb-8">
                <input type="password" name="userPassword"
                  class="form-control w-100 py-8 px-16 bg-white fw-bold placeholder-brand-05"
                  placeholder="密碼" aria-label="input-userPassword"
                  aria-describedby="basic-addon1">
              </div>

              <div class="mb-24 form-check">
                <input type="checkbox" class="form-check-input" id="checkOut">
                <label class="form-check-label" for="checkOut">
                  我已仔細閱讀相關條例
                </label>
              </div>

              <button type="submit"
                class="btn btn-brand-03 mb-8 w-100 d-inline-flex align-items-center justify-content-center gap-10 fw-medium rounded">
                <span class="fs-24 material-symbols-outlined">
                  point_scan
                </span>
                建立帳號
              </button>

              <p class="text-end">已有帳號嗎？前往
                <a href="./login.html"
                  class="link-light link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover">
                  登入
                </a>
              </p>
            </form>

          </div>
          <!-- end of col -->
        </div>
        <!-- end of row -->
      </main>

      <%- include('./layout/footer'); -%>

        <script type="module" src="../main.js"></script>
  </body>

</html>